
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño de la tarjeta ligeramente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1); /* Añade sombra */

}
.bg-image {
    background-image: url('../Resources/fondodepantallamenu.jpg');
}

.custom-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45%;
    border-color: black;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); 
}
