body {
    overflow-x: hidden;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
    transform-origin: center center;
    position: relative;
    z-index: 1;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
    z-index: 2;
}

.card-container {
    padding: 10px;
}

.bg-image {
    background-image: url('../Resources/fondodepantallamenu.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.custom-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    display: block;
    margin: 20px auto;
    max-width: 45%;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .custom-shadow {
        max-width: 80%;
    }
}